# dedupe-peer-dependents=false
# link-workspace-packages=true
# npm config set strict-ssl false
# https://registry.npmmirror.com/
# https://registry.npmjs.org
# registry=https://registry.npm.taobao.org
